# Server Configuration
PORT=4000

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_LOGGING=true

# Mailer Configuration
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=baog96005@gmail.com
MAIL_APP_PASSWORD=ltkjpbxowiunwpdk
MAIL_FROM=no-reply@example.com

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=chuoi_bi_mat_ma_hoa_he_thong_tuyen_sinh_2026