# Server Configuration
PORT=4000

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_LOGGING=true

# Mailer Configuration
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=baog96005@gmail.com
MAIL_PASS=ltkjpbxowiunwpdk
MAIL_FROM=no-reply@example.com

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
